/themes/default/content
/themes/default/content/static-pages/comarcas-bahia-de-cadiz.htm
/themes/default/content/static-pages
.DS_Store
/storage
/themes/default/meta/static-pages.yaml
/themes/default/meta/static-experiences.yaml
/themes/default/meta/menus
/config/app.php
/themes/default/meta
