==

<?php

    function onStart()
    {
    }

?>

==
<!-- MENU-->
{% partial "site/menu" %}


<!-- FEATURES -->
<div id="out-features" class="event-features">
  <div class="feature"><img src="/cadizturismo/storage/app/media/uploaded-files/templates/calendar-event.svg" class="fr-fil fr-dib">

    <p class="feature-txt">03.08.17 - 05.08.17</p>
  </div>
  <div class="feature"><img src="/cadizturismo/storage/app/media/uploaded-files/templates/cultura-event.svg" class="fr-fil fr-dib">

    <p class="feature-txt">Cultura</p>
  </div>
  <div class="feature"><img src="/cadizturismo/storage/app/media/uploaded-files/templates/location.svg" class="fr-fil fr-dib">

    <p class="feature-txt">Sanlúcar de Barrameda</p><a class="feature-txt-mapa" href="https://www.google.es/maps/place/11540+Sanl%C3%BAcar+de+Barrameda,+C%C3%A1diz/@36.7732122,-6.391691,12.95z/data=!4m5!3m4!1s0xd0dde12a2f8e5ef:0xe9bbc21d97ce48c6!8m2!3d36.7725774!4d-6.3529689" target="_blank">Ver mapa</a></div>
</div>
