==

<?php

    function onStart()
  {
     if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
     } else {
        $this['preurl'] = '';
     }
  }

?>

==
<!-- MENU-->
{% partial "site/menu" %}


<!-- FEATURES -->
<div id="out-features" class="event-features">
  <div class="feature"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/calendar-event.svg" class="fr-fil fr-dib">
    <p class="feature-txt">2 días</p>
  </div>
  <div class="feature"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/natu-exp.svg" class="fr-fil fr-dib">
    <p class="feature-txt">Naturaleza</p>
  </div>
  <div class="feature"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/location.svg" class="fr-fil fr-dib">
    <p class="feature-txt">Alcalá de los Gazules</p><a class="feature-txt-mapa" href="{{ruta.locationgoogle}}" target="_blank">Ver mapa</a></div>
</div>
