==

<?php

  function onStart()
  {
     if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
     } else {
        $this['preurl'] = '';
     }
  }



?>

==
<!-- MENU-->
{% partial "site/menu" %}

<div class="send-info-container">
  <!-- Botón para enviar la experiencia -->
  <div class="send-info">
    <div class="button-send-info">
      <a data-izimodal-open="#modal-exp" data-izimodal-transitionin="fadeInDown">{{'Envía la experiencia a tu móvil'|_}}</a>
    </div>
  </div>
</div>


<div id="modal-exp"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
    <div class="modal-container">
      <img data-izimodal-close="#modal-exp" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/modal-icon.svg">
      <img class="close-modal" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/close-modal.svg">
      <h3>{{'¿Quieres recibir esta experiencia en tu email?'|_}}</h3>
      <p>{{'Escribe tu email y en unos segundos tendrás la experiencia en tu móvil para que puedas verla siempre que quieras.'|_}}</p>
      <form id = "modalMailExperience" class="" data-request="onMailExperience">
        <input type="email" name="mail" placeholder="Escribe tu email"/>
        <input  type="submit" value="Enviar experiencia">
      </form>
    </div>
</div>

<div id="modal-success"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
    <div class="modal-container">
      <img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/sent-icon.svg">
      <img data-izimodal-close="#modal-success" class="close-modal" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/close-modal.svg">
      <h3>{{'Tu experiencia ya ha llegado a tu correo'|_}}</h3>
      <p>{{'Te hemos enviado la experiencia a tu correo, disfruta de Cádiz como nunca antes.'|_}}</p>
      <a href="#" data-izimodal-close="#modal-success" data-izimodal-open="#modal-exp" data-izimodal-transitionin="fadeInDown">{{'¿No recibes tu experiencia?'|_}}</a>
    </div>
</div>
