<!-- MENU-->
    <div class="slidemenu">
      <div class="elements">
        <div class="logo-container">
          <a href="{{url('/')}}/{{lang}}"><img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/cadiz-menu.svg" alt=""></a>
        </div>
        <div class="menus">
          <div class="menu-list">
            <p class="menu-title">{{'Dónde ir'|_}}</p>
            <img class="separator separator-menu" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/big-yellow-separator.svg">
            <img class="separator-tiny" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/tiny-separator.svg">
            <ul class="menu-ul donde-ul">
              {% for item in staticMenu.menuItems %}
                <li class="menu-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/comarcas">{{'Todas las comarcas'|_}}</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/municipios">{{'Todos los municipios'|_}}</a></li>
            </ul>
            <ul class="menu-mobile">
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/comarcas">{{'Comarcas'|_}}</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/municipios">{{'Municipios'|_}}</a></li>
            </ul>
          </div>
          <div class="menu-list">
            <p class="menu-title">{{'Qué hacer'|_}}</p>
            <img class="separator separator-menu" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/big-yellow-separator.svg">
            <img class="separator-tiny" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/tiny-separator.svg">
            <ul class="menu-ul">
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/playas">Playas</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/rutas">Rutas</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/naturaleza">Naturaleza</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/diversion">Diversión</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/cultura">Cultura</a></li>
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/gastronomia">Gastronomía</a></li>
            </ul>
          </div>
          <div class="menu-list">
            <p class="menu-title">{{'Qué vivir'|_}}</p>
            <img class="separator separator-menu" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/big-yellow-separator.svg">
            <img class="separator-tiny" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/tiny-separator.svg">
            <ul class="menu-ul">
              {% for item in staticMenu2.menuItems %}
                <li class="menu-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
              <li class="menu-item"><a href="{{url('/')}}/{{lang}}/eventos">{{'Todos los eventos'|_}}</a></li>
            </ul>
          </div>
          <div class="menu-list">
            <p class="menu-title">{{'Mi estancia'|_}}</p>
            <img class="separator separator-menu" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/big-yellow-separator.svg">
            <img class="separator-tiny" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/tiny-separator.svg">
            <ul class="menu-ul">
              {% for item in staticMenu3.menuItems %}
                <li class="menu-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="border">
        <label class="mobile-toggle" for="nav-toggle">
          <div class="top-bar"></div>
          <div class="middle-bar"></div>
          <div class="bottom-bar"></div>
        </label>
        <img class="normal" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/top-menu.svg">
        <img class="mobile" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/top-mobile.svg">
      </div>
    </div>

    <div class="mini-logo-container">
      <a href="{{url('/')}}/{{lang}}"><img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/mini-logo.svg"></a>
    </div>
    <div class="language-container">
      <p class="languages"> <a href="{{url('/')}}/en{{this.page.url}}" class="lang">EN</a> <a class="separator separator-lang"> · </a><a href="{{url('/')}}/es{{this.page.url}}" class="lang-es">ES</a> <a class="separator separator-lang"> · </a> <a href="{{url('/')}}/fr{{this.page.url}}" class="lang">FR</a> <a class="separator separator-lang"> · </a><a href="{{url('/')}}/de{{this.page.url}}" class="lang">DE</a> <a class="separator separator-lang"> · </a> <a href="{{url('/')}}/ru{{this.page.url}}" class="lang">RU</a></p>
    </div>
