==

<?php

  function onStart()
  {
     if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
     } else {
        $this['preurl'] = '';
     }
  }

?>

==
<!-- MENU-->
{% partial "site/menu" %}

<div class="send-info-container">
  <!-- Botón para enviar la experiencia -->
  <div class="send-info">
    <div class="button-send-info">
      <a data-izimodal-open="#modal-exp" data-izimodal-transitionin="fadeInDown">{{'Envía la experiencia a tu móvil'|_}}</a>
    </div>
  </div>
</div>

<div id="out-features" class="event-features">
  <div class="feature-exp">
    
    <img src="{{preurl}}/storage/app/media/uploaded-files/templates/calendar-exp.svg">
    {%if experience[0].days < 2%}
    <p class="feature-txt">{{experience[0].days}} día</p>
    {% else %}
     <p class="feature-txt">{{experience[0].days}} días</p>
    {%endif%}
  
  </div>
  {% set cat = experience[0].interest|split(' y ')%}
  <div class="feature-exp">
    <img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(cat[0])}}.svg">
    <p class="feature-txt">{{cat[0]}}</p>
  </div>
  <div class="feature-exp">
    <img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(cat[1])}}.svg">
    <p class="feature-txt">{{cat[1]}}</p>
  </div>
  <div class="feature-exp">
    <img src="{{preurl}}/storage/app/media/uploaded-files/templates/cultura-event.svg">
    <p class="feature-txt">{{experience[0].tvisit}}</p>
  </div>
</div>

<div id="modal-exp"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
    <div class="modal-container">
      <img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/modal-icon.svg">
      <img data-izimodal-close="#modal-exp" class="close-modal" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/close-modal.svg">
      <h3>{{'¿Quieres recibir esta experiencia en tu email?'|_}}</h3>
      <p>{{'Escribe tu email y en unos segundos tendrás la experiencia en tu móvil para que puedas verla siempre que quieras.'|_}}</p>
      <form id = "modalMailExperience" class="" data-request="onMailExperience">
        <input type="email" name="mail" placeholder="Escribe tu email"/>
        <input  type="submit" value="Enviar experiencia">
      </form>
    </div>
</div>

<div id="modal-success"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
    <div class="modal-container">
      <img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/sent-icon.svg">
      <img data-izimodal-close="#modal-success" class="close-modal" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/close-modal.svg">
      <h3>{{'Tu experiencia ya ha llegado a tu correo'|_}}</h3>
      <p>{{'Te hemos enviado la experiencia a tu correo, disfruta de Cádiz como nunca antes.'|_}}</p>
      <a href="#" data-izimodal-close="#modal-success" data-izimodal-open="#modal-exp" data-izimodal-transitionin="fadeInDown">{{'¿No recibes tu experiencia?'|_}}</a>
    </div>
</div>
