==

<?php

    function onStart()
  {
     if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
     } else {
        $this['preurl'] = '';
     }
  }

?>

==
<!-- MENU-->
{% partial "site/menu" %}


<!-- FEATURES -->
<div id="out-features" class="event-features">

  <div class="feature-ruta"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(ruta.category)}}.svg" class="fr-fil fr-dib">

    <p class="feature-txt">{{ruta.category}}</p>
  </div>
  <div class="feature-ruta"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/location.svg" class="fr-fil fr-dib">

    <p class="feature-txt">{{ruta.location}}</p><a class="feature-txt-mapa" href="{{ruta.locationgoogle}}" target="_blank">Ver mapa</a></div>
</div>
