==

<?php

  function onStart()
  {
     if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
     } else {
        $this['preurl'] = '';
     }
  }

?>

==
<!-- MENU-->
{% partial "site/menu" %}


<!-- FEATURES -->
<div id="out-features" class="event-features">
  <div class="feature"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/calendar-event.svg" class="fr-fil fr-dib">
    
    <p class="feature-txt">{{event[0].date_start_pretty_num}} - {{event[0].date_end_pretty_num}}</p>
  </div>
  <div class="feature"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(event[0].category)}}.svg" class="fr-fil fr-dib">

    <p class="feature-txt">{{event[0].category}}</p>
  </div>
  <div class="feature"><img src="{{preurl}}/storage/app/media/uploaded-files/templates/location.svg" class="fr-fil fr-dib">

    <p class="feature-txt">{{event[0].location}}</p><a class="feature-txt-mapa" href="{{event[0].locationgoogle}}" target="_blank">Ver mapa</a></div>
</div>

