==

<?php

    function onStart()
    {
        if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
        } else {
          $this['preurl'] = '';
        }

        $this['lang']=\App::getLocale();

        if($this['lang']==''){
          $this['lang']='es';
        }
        $this['municipalities'] = $this->staticApp->getMunicipalities();
        $this['categories'] = $this->staticApp->getEventsCategories();


    }
?>

==

<script>

    var calendarTranslate = {
        enero: "{{ 'enero'|_ }}",
        febrero: "{{ 'febrero'|_ }}",
        marzo: "{{ 'marzo'|_ }}",
        abril: "{{ 'abril'|_ }}",
        mayo: "{{ 'mayo'|_ }}",
        junio: "{{ 'junio'|_ }}",
        julio: "{{ 'julio'|_ }}",
        agosto: "{{ 'agosto'|_ }}",
        septiembre: "{{ 'septiembre'|_ }}",
        octubre: "{{ 'octubre'|_ }}",
        noviembre: "{{ 'noviembre'|_ }}",
        diciembre: "{{ 'diciembre'|_ }}"
    };

</script>

<div id="search-event" class="search-bar-container">
          <div class="search-bar">
            <form data-request="onFindEvent">
              <div class="inputs-container">
                <div id="event-category" class="days-container">
                  <select class="custom-select select-days" name="category">
                    {% for key,value in categories %}
                        <option value="{{key}}">{{ value |_ }}</option>
                    {% endfor %}
                    <option value="all" selected=>{{'Todas las categorías'|_ }}</option>
                  </select>
                  <span class="select-title">{{ 'CATEGORÍA'|_ }}</span>
                </div>
                <div id="event-datepicker" class="interests-container">
                  <input type="text" name="datepicker" id="datepicker" readonly>
                  <span class="select-title">{{ 'FECHA'|_ }}</span>
                  <img class="arrow" src="{{preurl}}/storage/app/media/uploaded-files/templates/select-arrow.svg">
                </div>
                <div id="event-location" class="type-container">
                  <select class="custom-select select-type" name="location">
                    {% for key,value in municipalities %}
                        <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                    <option value="all" selected=>{{'Todos los municipios'|_ }}</option>
                  </select>
                  <span class="select-title">{{ 'UBICACIÓN'|_ }}</span>
                </div>
              </div>
              <div class="button-container">
                <input type="submit" value="{{ 'Ver eventos'|_ }}">
              </div>
            </form>
          </div>
        </div>
        <div class="header-comment">
          <p class="comment">{{ 'Descubre miles de eventos que no querrás perderte'|_ }}</p>
        </div>
      </div>
    </div>
