==

<?php 

  function onStart()
  {
    $this['lang']=\App::getLocale();
    if($this['lang']==''){
      $this['lang']='es';
    }
 
    $this['translationSearch'] = [
      'día',
      'días',
      'TU ESTANCIA',
      'Playa y gastronomía',
      'Cultura y gastronomía',
      'Fiesta y cultura',
      'Gastronomía y naturaleza',
      'Naturaleza y aventura',
      'Playa y naturaleza',
      'Vino y tradición',
      'Aventura y tradición',
      'INTERESES',
      'Cádiz oculta',
      'Cádiz auténtica',
      'Cádiz relax',
      'Cádiz urbano',
      'TIPO DE VISITA',
      'Ven a Cádiz'
    ];
    
    if ($this['lang'] == 'en') {

      $this['translationPage'] = [      
      'beachs',
      'that fill you with light',
      '138km of beaches, coves and inlets that invite you to get lost',
      'Discover our beaches',
      'What is cooked today in Cádiz',
      'All events',
      'secret routes',
      'Are you strong emotions? Enjoy Cádiz like never before.',
      'Selection of secret routes'
    ];

    $this['translationSearch'] = [
      'day',
      'days',
      'YOUR STAY',
      'Beach and gastronomy',
      'Culture and gastronomy',
      'Party and culture',
      'Gastronomy and nature',
      'Nature and adventure',
      'Beach and nature',
      'Wine and tradition',
      'Adventure and tradition',
      'INTERESTS',
      'Cádiz hidden',
      'Authentic Cádiz',
      'Cadiz relax',
      'Cadiz urban',
      'TYPE OF VISIT',
      'Come to Cádiz'
    ];
            
    } elseif ($this['lang'] == 'fr') {
            

    } elseif ($this['lang'] == 'de') {
           

    } elseif ($this['lang'] == 'ru') {
            

    }        

     
  }

?>

==

<div class="search-bar-container">
  <div class="search-bar">
    <form data-request="onFindExperience">
      <div class="inputs-container">
        <div class="days-container">
          <select class="custom-select select-days" name="days">
            {% for i in 1..7 %}
              {% if i<2 %}
              	* <option value="{{ i }}">{{ i }} {{ translationSearch[0] }}</option>
              {% else %}
		* <option value="{{ i }}">{{ i }} {{ translationSearch[1] }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <span class="select-title">{{ translationSearch[2] }}</span>
        </div>{% component 'cadizevent' %}
        <div class="interests-container">
          <select class="custom-select select-interests" name="interest">
            <option value="playa-gastronomia">{{ translationSearch[3] }}</option>
            <option value="cultura-gastronomia">{{ translationSearch[4] }}</option>
            <option value="fiesta-cultura">{{ translationSearch[5] }}</option>
            <option value="gastronomia-naturaleza">{{ translationSearch[6] }}</option>
            <option value="naturaleza-aventura">{{ translationSearch[7] }}</option>
            <option value="playa-naturaleza">{{ translationSearch[8] }}</option>
            <option value="vino-tradicion">{{ translationSearch[9] }}</option>
            <option value="aventura-tradicion">{{ translationSearch[10] }}</option>
          </select>
          <span class="select-title">{{ translationSearch[11] }}</span>
        </div>
        <div class="type-container">
          <select class="custom-select select-type" name="tvisit">
            <option value="cadiz-oculta">{{ translationSearch[12] }}</option>
            <option value="cadiz-autentica">{{ translationSearch[13] }}</option>
            <option value="cadiz-relax">{{ translationSearch[14] }}</option>
            <option value="cadiz-urbano">{{ translationSearch[15] }}</option>
          </select>
          <span class="select-title">{{ translationSearch[16] }}</span>
        </div>
      </div>
      <div class="button-container">
        <input type="submit" value="{{ translationSearch[17] }}">

      
      </div>
    </form>
  </div>
</div>