<?php
    $activeItem = BackendMenu::getActiveMainMenuItem();
    $mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
    $navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');
    use Backend\Models\UserRole as RoleBase;
    $prole = RoleBase::findOrFail($this->user->role_id);
    $arole = $prole->code;
?>

<nav class="navbar control-toolbar navbar-mode-<?= $navbarMode ?>" id="layout-mainmenu" role="navigation">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar" data-use-native-drag="true">
            <a class="menu-toggle" href="javascript:;">
                <span class="menu-toggle-icon">
                    <i class="icon-bars"></i>
                </span>
                <span class="menu-toggle-title">
                    <?= $activeItem ? e(trans($activeItem->label)) : 'CMS' ?>
                </span>
            </a>

            <ul class="nav mainmenu-nav">
                <!-- *********************************************************************************************************** -->
                <!-- Andrés Martínez : Logo image ****************************************************************************** -->
                <!-- *********************************************************************************************************** -->
                <li id="icon-container" class="active svg-icon-container svg-active-effects">
                        <!--<a href="">-->
                            <span class='logomainmenu'>
                                <img class="anagrama" src="<?= config('app.assetBackendUrl').'images/logo.svg' ?>">
                            </span>
                        <!--</a>-->
                </li>
                 
                <?php foreach (BackendMenu::listMainMenuItems() as $item): ?>
                    <?php
                        $isActive = BackendMenu::isMainMenuItemActive($item);
                    ?>
                    
                    <?php if($item->label && $item->label !='CMS') :?>
                      
                        <!-- *********************************************************************************************************** -->
                        <!-- Andrés Martínez : Filter button config only sudo ********************************************************** -->
                        <!-- *********************************************************************************************************** -->
                        <!-- and $this->user->is_superuser == 1 -->
                                                
                        <?php if( trim(trans($item->label)) == 'Contenido' ){ ?>                            
                            <?php if ( $this->user->is_superuser == 1 || $arole =='publisher'){?>
                                <li class="svg-icon-container svg-active-effects">
                                    <a href="/backend/backend/home/update/1">
                                        <span class="nav-icon">
                                            <?php if ($item->iconSvg): ?>
                                                <img class="svg-icon" src="<?= config('app.urlApp') ?>modules/system/assets/images/home.svg">
                                            <?php endif ?>

                                            <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                        </span>

                                        <span class="nav-label">
                                            Home                                       
                                        </span>
                                    </a>
                                </li>
                            <?php } ?>
                        <?php } ?>
                        
                        <?php if( trim(trans($item->label)) == 'Media' ){ ?>
                            
                            <?php if( $this->user->is_superuser == 1 ){ ?>
                                <li class="svg-icon-container svg-active-effects">
                                    <a href="/backend/backend/media">
                                        <span class="nav-icon">
                                            <?php if ($item->iconSvg): ?>
                                                <img class="svg-icon" src="<?= config('app.urlApp') ?>modules/system/assets/images/media-icon.svg">
                                            <?php endif ?>

                                            <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                        </span>

                                        <span class="nav-label">
                                           Media
                                        </span>
                                    </a>
                                </li>
                            <?php } ?>

                            <?php if( $this->user->is_superuser == 1 ){ ?>
                                <li class="svg-icon-container svg-active-effects">
                                    <a href="/backend/backend/intereses">
                                        <span class="nav-icon">
                                            <?php if ($item->iconSvg): ?>
                                                <img class="svg-icon" src="<?= config('app.urlApp') ?>modules/system/assets/images/menucatg.svg">
                                            <?php endif ?>

                                            <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                        </span>

                                        <span class="nav-label">
                                           Categorias
                                        </span>
                                    </a>
                                </li>
                            <?php } ?>

                            <?php if( $arole =='publisher' || $this->user->is_superuser == 1 || $arole =='Developer'){ ?>

                                <li class="svg-icon-container svg-active-effects">
                                    <a href="/backend/backend/empresa">
                                        <span class="nav-icon">
                                            <?php if ($item->iconSvg): ?>
                                                <img class="svg-icon" src="<?= config('app.urlApp') ?>modules/system/assets/images/empresas.svg">
                                            <?php endif ?>

                                            <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                        </span>

                                        <span class="nav-label">
                                            Empresas
                                        </span>
                                    </a>
                                </li>

                            <?php } ?>

                        <?php } ?>

                        <?php if( $item->iconSvg == 'modules/system/assets/images/cog-icon.svg' and $this->user->is_superuser == 1 ){ ?>

                        <li class="svg-icon-container svg-active-effects">
                            <a href="<?= $item->url ?>">
                                <span class="nav-icon">
                                    <?php if ($item->iconSvg): ?>
                                        <img class="svg-icon" src="<?= URL::asset($item->iconSvg) ?>">
                                    <?php endif ?>
                                    <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                </span>

                                <span class="nav-label">
                                    <?= e(trans($item->label)) ?>
                                </span>
                            </a>
                        </li>

                        <?php } 

                        if( $item->iconSvg == 'modules/backend/assets/images/estadisticas.svg' and ($this->user->login == 'Roberto_cadiz' || $this->user->login == 'admin') ){ ?>

                        <li class="svg-icon-container svg-active-effects">
                            <a href="<?= $item->url ?>">
                                <span class="nav-icon">
                                    <?php if ($item->iconSvg): ?>
                                        <img class="svg-icon" src="<?= URL::asset($item->iconSvg) ?>">
                                    <?php endif ?>
                                    <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                </span>

                                <span class="nav-label">
                                    <?= e(trans($item->label)) ?>
                                </span>
                            </a>
                        </li>


                        <?php } elseif ( $arole =='publisher' && $item->iconSvg != 'modules/system/assets/images/cog-icon.svg' && $item->iconSvg != 'modules/cms/assets/images/cms-icon.svg' && $item->iconSvg != 'modules/backend/assets/images/estadisticas.svg' && strpos($item->iconSvg, 'vdlp/redirect') == false){?>

                        <li class="svg-icon-container svg-active-effects">
                            <a href="<?= $item->url ?>">
                                <span class="nav-icon">
                                    <?php if ($item->iconSvg): ?>
                                        <img class="svg-icon" src="<?= URL::asset($item->iconSvg) ?>">
                                    <?php endif ?>

                                    <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                                </span>

                                <span class="nav-label">
                                    <?= e(trans($item->label)) ?>
                                </span>
                            </a>
                        </li>
                        <?php } ?>

                        <!-- *********************************************************************************************************** -->
                     
                     <?php endif ?>

                <?php endforeach ?>
                
                <?php if ( $this->user->is_superuser == 1 || $arole =='publisher'){?>
                    <li class="svg-icon-container svg-active-effects">
                        <a href="/backend/rainlab/translate/messages">
                            <span class="nav-icon">
                                <?php if ($item->iconSvg): ?>
                                    <img class="svg-icon" src="<?= config('app.urlApp') ?>modules/system/assets/images/traducciones.svg">
                                <?php endif ?>

                                <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                            </span>

                            <span class="nav-label">
                                Traducciones
                            </span>
                        </a>
                    </li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="toolbar-item" data-calculate-width>
        <ul class="mainmenu-toolbar">
            <li class="mainmenu-preview with-tooltip">
                <a
                    href="<?= Url::to('/') ?>"
                    target="_blank"
                    title="<?= e(trans('backend::lang.tooltips.preview_website')) ?>">
                    <i class="icon-crosshairs"></i>
                </a>
            </li>
            <li class="mainmenu-account with-tooltip">
                <a
                    href="javascript:;" onclick="$.oc.layout.toggleAccountMenu(this)"
                    title="<?= e(trans('backend::lang.account.signed_in_as', ['full_name' => $this->user->full_name])) ?>">
                    <img src="<?= $this->user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>" class="account-avatar" />
                </a>
                <div class="mainmenu-accountmenu">
                    <ul>
                        <?php foreach ($mySettings as $category => $items): ?>
                            <?php foreach ($items as $item): ?>
                                <li>
                                    <a href="<?= $item->url ?>">
                                        <?= e(trans($item->label)) ?>
                                    </a>
                                </li>
                            <?php endforeach ?>
                            <li class="divider"></li>
                        <?php endforeach ?>

                        <li>
                            <a href="<?= Backend::url('backend/auth/signout') ?>">
                                <?= e(trans('backend::lang.account.sign_out')) ?>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
