==
<?php

	function onStart()
	{
	 	 if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	   } else {
	     	$this['preurl'] = '';
	   }
	}

?>

==
<!--  DENTRO DE DESTE DIV DEBEN SALIR LOS SEIS PRIMEROS-->
{% if events|length > 0 %}
  <div class="more-popular">
    	<div class="title-container">
      <p class="title">MÁS <br> POPULARES <br> EN CÁDIZ </p>
        <img class="separator" src="{{preurl}}/storage/app/media/uploaded-files/templates/big-yellow-separator.svg">
    	</div>
   	<div class="main-events-container">
  	{% for event in events %}
  	    <!--  MÁS POPULARES -->
          <div class="event">
            <div class="overlay-img"></div>
            <img class="rec-img" src="{{event.viewBag.cover}}">
            <div class="txt-container">
              <p class="date">{{event.date_start_pretty_day}} {{event.date_start_pretty_month|_}}</p>
              <p class="name">{{event.viewBag.title}}</p>
              <img class="separator" src="{{preurl}}/storage/app/media/uploaded-files/templates/small-yellow-separator.svg">
              <div class="icons">
                <div class="icon-pair">
                  <img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(event.viewBag.category)}}.svg">
                  <p class="icon-txt">{{event.viewBag.category}}</p>
                </div>
                <div class="icon-pair">
                  <img src="{{preurl}}/storage/app/media/uploaded-files/templates/loc-events.svg">
                  <p class="icon-txt">{{event.location}}</p>
                </div>
              </div>
              <div class="button-container">
                <a class="see-event" href="{{url('/')}}/{{lang}}{{event.viewBag.url}}">{{'Ver evento'|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/link-icon.svg"></a>
              </div>
            </div>
          </div>

  	{% endfor %}
  	</div>
  </div>
{% endif %}

<!-- Y DENTRO DE ESTE LOS DEMÁS -->
<div class="all-events">
	<div class="title-container">
		<p class="title">TODOS LOS EVENTOS </p>
			<img class="separator" src="assets/svg/big-yellow-separator.svg">
	</div>
	<div class="all-events-container">
		{% for event in events %}
  	    <!--  MÁS POPULARES -->
          <div class="event">
            <div class="overlay-img"></div>
            <img class="rec-img" src="{{event.viewBag.cover}}">
            <div class="txt-container">
              <p class="date">{{event.date_start_pretty_day}} {{event.date_start_pretty_month|_}}</p>
              <p class="name">{{event.viewBag.title}}</p>
              <img class="separator" src="{{preurl}}/storage/app/media/uploaded-files/templates/small-yellow-separator.svg">
              <div class="icons">
                <div class="icon-pair">
                  <img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(event.viewBag.category)}}.svg">
                  <p class="icon-txt">{{event.viewBag.category}}</p>
                </div>
                <div class="icon-pair">
                  <img src="{{preurl}}/storage/app/media/uploaded-files/templates/loc-events.svg">
                  <p class="icon-txt">{{event.location}}</p>
                </div>
              </div>
              <div class="button-container">
                <a class="see-event" href="{{url('/')}}/{{lang}}{{event.viewBag.url}}">{{'Ver evento'|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/link-icon.svg"></a>
              </div>
            </div>
          </div>

  	{% endfor %}
	</div>
</div>
