==
<?php

	function onStart()
	{
	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>

==

{% if publications|length > 0 %}
<div class="publis">
{% for publication in publications %}
    <div class='contpbl'>
      <div class="bimage" style="background-image:url({{publication.viewBag.urlimage}}); background-repeat: no-repeat; background-size: cover;">
        <div class="links-container">  
          {% if publication.viewBag.urlExternaVideo !='' %}
            <a class="download-link" target="_blank" href="{{publication.viewBag.urlExternaVideo}}">{{'Ver'|_}} {{publication.viewBag.type|_}} </a>
          {% else %}
            <a class="download-link" style="visibility:hidden">{{'Ver'|_}} {{publication.viewBag.type|_}} </a>
          {% endif %}
          {% if publication.viewBag.urlExternaZip !='' %}
            <br>
            <a class="see-link download-link-pub" target="_blank" href="{{publication.viewBag.urlExternaZip}}-#@-{{publication.viewBag.idiomas}}">{{'Descargar'|_}}</a>
            <!--<a class="download-link" target="_blank" data-izimodal-title="{{publication.viewBag.urlExternaZip}}" data-izimodal-open="#modal-pub">{{'Descargar'|_}}-->
          {% endif %}
          
        </div>
      </div>
      <div class="shr">
        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/shr.svg" alt=""> 
      </div>
      <div class="publicacion">        
          <h6 class="publi-title">{{publication.viewBag.title}}</h6>
          <div>
            <img class="publi-icon" src="{{preurl}}/storage/app/media/uploaded-files/templates/pb1-icon.svg" alt="">
            <span>{{publication.viewBag.type|_}}</span>
            <div class="contint">
              <img class="publi-icon par" src="{{preurl}}/storage/app/media/uploaded-files/templates/pb2-icon.svg" alt="">
              {% set ints = publication.viewBag.interests|split(',') %}
              {% if ints[1]|length<1 %}
                <span>{{ints[0]|_}}</span>
              {% endif %}
              {% if ints[1]|length>0 %}
                <span>{{ints[0]|_}} Y {{ints[1]|_}}</span>
              {% endif %}
            </div>
          </div>
          <img class="publi-icon" src="{{preurl}}/storage/app/media/uploaded-files/templates/pb3-icon.svg" alt="">
          <div class="contplangs">
            <span>{{publication.viewBag.idiomas|replace({ ',': ', '})}}</span>
          </div>        
        <p class="publi-desc publi-descn">{{publication.viewBag.descrptn}}</p>
        <p class="publi-desc publi-descm">{{publication.viewBag.descrptn|length > 90 ? publication.viewBag.descrptn|slice(0, 91) ~ '...' : publication.viewBag.descrptn}}</p>

        <div class="links-container-m">                  
          {% if publication.viewBag.urlExternaVideo !='' %}
            <a class="download-link" target="_blank" href="{{publication.viewBag.urlExternaVideo}}">{{'Ver'|_}} {{publication.viewBag.type|_}}</a>
          {% else %}
            <a class="download-link" style="visibility:hidden">{{'Ver'|_}} {{publication.viewBag.type|_}} </a>
          {% endif %}
          {% if publication.viewBag.urlExternaZip !='' %}
          
          <a class="see-link download-link-pub" target="_blank" href="{{publication.viewBag.urlExternaZip}}-#@-{{publication.viewBag.idiomas}}">{{'Descargar'|_}}</a>
           <!--<a class="download-link" target="_blank" name="{{publication.viewBag.urlExternaZip}}" data-izimodal-open="#modal-pub">{{'Descargar'|_}}-->
          {% endif %}
          
        </div>
      </div>
    </div>
{% endfor %}

</div>

{% else %}

<div class="mock-space-prensa">
	<p>Vuelve más tarde, tendremos un montón de publicaciones para ti.</p>
</div>

{% endif %}
<!-- SCRIPTS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
<script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/iziModal/js/iziModal.js"></script>
<script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/style2.js"></script>

