==
<?php 

	function onStart()
	{
	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>	

==
{% if beaches|length > 0 %}
	
	<div class="search-title-container">
      {% if beaches|length > 1 %}
        <p class="title-search"> {{ 'Hemos encontrado'|_ }} {{beaches|length}} {{ 'playas que se adaptan ti'|_ }}</p>
       {% else %}
         <p class="title-search"> {{ 'Hemos encontrado'|_ }} {{beaches|length}} {{ 'playa que se adaptan ti'|_ }}</p>
       {% endif %}
  	</div>

  	 <div class="all-events-container">

		{% for beach in beaches %}			

			<div class="event">
				<div class="overlay-img"></div>
				<img class="rec-img" src="{{beach.viewBag.cover}}">
				<div class="txt-container">
					<p class="name">{{beach.viewBag.title}}</p>
					<img class="separator fr-fic fr-dii" src="{{preurl}}/storage/app/media/uploaded-files/templates/small-yellow-separator.svg">
					<div class="icons">
						
						<div class="icon-pair">
							<img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(beach.viewBag.categoriea)}}.svg" class="fr-fil fr-dib">

							<p class="icon-txt">
		              			{{beach.viewBag.categoriea|_}}
							</p>
						</div>
						<p>&nbsp;</p>
						<div class="icon-pair lwc">
							{% set cb = beach.viewBag.categorieb|split(',') %}
							<img src="{{preurl}}/storage/app/media/uploaded-files/templates/caracteristicas-blanco.svg" class="fr-fil fr-dib">
							<p class="icon-txt">

								{{cb[0]|_}}
							
							{% if cb|length > 1 %}
								{% for cbi in cb %}								
								&nbsp;&nbsp;
								{% if cbi != cb[0] %}
								

									{{cbi|_}}
								
								{% endif %}
								{% endfor %}
							{% endif %}
							</p>
						</div>
					</div>
					<div class="button-container"><a class="see-event" href="{{url('/')}}/{{lang}}{{beach.viewBag.url}}">{{'Ver playa'|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/link-icon.svg" class="fr-fic fr-dii"></a></div>
				</div>
			</div>
			
		{% endfor %}

	  </div>


{% else %}
<div class="search-title-container">
     <p class="title-search"> {{ 'No hemos encontrado resultados que se adapten a tus criterios.'|_ }}</p>
</div>

{% endif %}
