
{% if empresas|length > 0 %}
	<!-- <ul>
	{% for empresa in empresas %}

		<li>
			<h3 style="text-transform: uppercase">
				{{str_limit(empresa.name,18) | capitalize}}
			</h3>
			<p>
				{{str_limit(empresa.description,117) | capitalize}}
			</p>
			<span>
				<p><img src="{{'assets/img/map.svg'|theme}}" alt="">{{empresa.municipality | capitalize}}</p>
				<a href="{{url('/')}}/{{lang}}/empresa/{{empresa.slug}}">{{'Saber más'|_}}</a>
			</span>
		</li>

	{% endfor %}
</ul> -->
<div class="search-title-container">
	{% if empresas|length > 1 %}
	<p class="title-search"> {{ 'Hemos encontrado'|_ }} {{empresas|length}} {{ 'empresas que se adaptan ti'|_ }}.</p>
	{% else %}
	 <p class="title-search"> {{ 'Hemos encontrado'|_ }} {{empresas|length}} {{ 'empresas que se adaptan ti'|_ }}.</p>
	{% endif %}
</div>
<div id="all-empresas" class="all-events-container">
	{% for empresa in empresas %}

		<div class="event">
			<div class="overlay-img">
				<br>
			</div><img class="rec-img fr-fic fr-dii" src="{{empresa.image}}">
			<div class="txt-container">

				<p class="name">{{str_limit(empresa.name,18) | capitalize}}</p><img class="separator fr-fic fr-dii" src="{{preurl}}/storage/app/media/uploaded-files/templates/small-yellow-separator.svg">
				<div class="icons">
					<div class="icon-pair">
						<img src="{{preurl}}/storage/app/media/uploaded-files/templates/loc-events.svg" class="fr-fil fr-dib">

						<p class="icon-txt">
	              			{{empresa.municipality | capitalize}}
						</p>
					</div>
				</div>
				<div class="button-container"><a class="see-event" href="{{url('/')}}/{{lang}}{{beach.viewBag.url}}">{{'Ver empresa'|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/link-icon.svg" class="fr-fic fr-dii"></a></div>
			</div>
		</div>

	{% endfor %}
</div>
{% else %}

	<div class="search-title-container" style="display: block; text-align: center; position: relative;">
	     <p class="title-search" style="margin-top: 87px;    max-width: 530px;  margin: auto;"> {{ 'Lo sentimos, no hemos encontrado empresas que se ajusten a tu criterio de búsqueda.'|_ }}</p>
		<img style="display: inline-block;margin-top: 87px;" src="{{'assets/img/search2.svg'|theme}}" alt="">
	</div>

{% endif %}
