
{% if empresas|length > 0 %}
	<ul>
	{% for empresa in empresas %}

		<li>
			<h3 style="text-transform: uppercase">
				{{str_limit(empresa.name,18) | capitalize}}
			</h3>
			<!--{{empresa.image}}-->
			<p>
				{{str_limit(empresa.description,117) | capitalize}}
			</p>
			<span>
				<p><img src="{{'assets/img/map.svg'|theme}}" alt="">{{empresa.municipality | capitalize}}</p>
				<a href="{{url('/')}}/{{lang}}/empresa/{{empresa.slug}}">{{'Saber más'|_}}</a>
			</span>
		</li>

	{% endfor %}
	</ul>
{% else %}

	<div class="search-title-container" style="display: block; text-align: center; position: relative;">
	     <p class="title-search" style="margin-top: 87px;    max-width: 530px;  margin: auto;"> {{ 'Lo sentimos, no hemos encontrado empresas que se ajusten a tu criterio de búsqueda.'|_ }}</p>
		<img style="display: inline-block;margin-top: 87px;" src="{{'assets/img/search2.svg'|theme}}" alt="">
	</div>

{% endif %}
