{% if empresas|length > 0 %}
	<ul>
	{% for empresa in empresas %}
	
		<li>
			<h3 style="text-transform: uppercase">
				{{str_limit(empresa.name,18) | capitalize}}
			</h3>
			<!--{{empresa.image}}-->
			<p>
				{{str_limit(empresa.description,117) | capitalize}}
			</p>
			<span>
				<p><img src="{{'assets/img/map.svg'|theme}}" alt="">{{empresa.municipality | capitalize}}</p>
				<a href="{{url('/')}}/{{lang}}/empresa/{{empresa.slug}}">{{'Saber mas'|_}}</a>
			</span>
		</li>	
		
	{% endfor %}
	</ul>
{% else %}

	<div class="search-title-container">
	     <p class="title-search"> {{ 'No hemos encontrado resultados que se adapten a tus criterios.'|_ }}</p>
	</div>

{% endif %}
