
{% if events|length > 0 %}
    
    <div class="search-title-container">
      <p class="title-search"> {{ 'Hemos encontrado'|_ }} {{events|length}} {{ 'eventos que se adaptan ti'|_ }}</p>
    </div>
   	
   <div class="all-events-container">
  	{% for event in events %}
  	    <!--  MÁS POPULARES -->
          <div class="event">
            <div class="overlay-img"></div>
            <img class="rec-img" src="{{event.viewBag.cover}}">
            <div class="txt-container">
              <p class="date">{{event.date_start_pretty_day}} {{event.date_start_pretty_month|_}}</p>
              <p class="name">{{event.viewBag.title}}</p>
              <img class="separator" src="{{url('/')}}/plugins/rainlab/pages/assets/svg/small-yellow-separator.svg">
              <div class="icons">
                <div class="icon-pair">
                  <img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/natu-events.svg">
                  <p class="icon-txt">Naturaleza</p>
                </div>
                <div class="icon-pair">
                  <img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/loc-events.svg">
                  <p class="icon-txt">{{event.viewBag.location}}</p>
                </div>
              </div>
              <div class="button-container">
                <a class="see-event" href="{{url('/')}}/{{lang}}{{event.viewBag.url}}">{{'Ver evento'|_}}_ <img ssrc="{{url('/')}}/plugins/rainlab/pages/assets/svg/link-icon.svg"></a>
              </div>
            </div>
          </div>

  	{% endfor %}
  	</div>

  
{% endif %}