==

<?php

  function onStart()
  {
     if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
     } else {
        $this['preurl'] = '';
     }
  }

?>

==

{% if events|length > 0 %}

    <div class="search-title-container">
      {% if events|length > 1 %}
      <p class="title-search"> {{ 'Hemos encontrado'|_ }} {{events|length}} {{ 'eventos que se adaptan ti'|_ }}</p>
      {% else %}
       <p class="title-search"> {{ 'Hemos encontrado'|_ }} {{events|length}} {{ 'evento que se adaptan ti'|_ }}</p>
      {% endif %}
    </div>

   <div class="all-events-container">
  	{% for event in events %}
  	    <!--  MÁS POPULARES -->
          <div class="event">
            <div class="overlay-img"></div>
            <img class="rec-img" src="{{event.viewBag.cover}}">
            <div class="txt-container">
              <p class="date">{{event.date_start_pretty_day}} {{event.date_start_pretty_month|_}}</p>
              <p class="name">{{event.viewBag.title}}</p>
              <img class="separator" src="{{preurl}}/storage/app/media/uploaded-files/templates/small-yellow-separator.svg">
              <div class="icons">
                <div class="icon-pair">
                  <img src="{{preurl}}/storage/app/media/uploaded-files/templates/natu-events.svg">
                  <p class="icon-txt">Naturaleza</p>
                </div>
                <div class="icon-pair">
                  <img src="{{preurl}}/storage/app/media/uploaded-files/templates/loc-events.svg">
                  <p class="icon-txt">{{event.viewBag.location}}</p>
                </div>
              </div>
              <div class="button-container">
                <a class="see-event" href="{{url('/')}}/{{lang}}{{event.viewBag.url}}">{{'Ver evento'|_}} <img ssrc="{{preurl}}/storage/app/media/uploaded-files/templates/link-icon.svg"></a>
              </div>
            </div>
          </div>

  	{% endfor %}
  	</div>


{% else %}
<div class="search-title-container">
     <p class="title-search"> {{ 'No hemos encontrado resultados que se adapten a tus criterios.'|_ }}</p>
</div>

{% endif %}
