
<div class="map-content">
	<div class="premap">	
		<div class="mapc">
			<img src="/storage/app/media/uploaded-files/templates/mapa-cadiz.svg" alt="">
			<div class="gm g1">
				<div id='g1' class="mapbox">					
					<div id='e1'  class="enlaces">
						
						<h1>SANLÚCAR DE <span>BARRAMEDA</span></h1>
						<a href="playas/bajo-de-guia">Bajo de guía <div class="flechaplayas"></div> </a>
						<a href="playas/bonanza">Bonanza <div class="flechaplayas"></div> </a>
						<a href="playas/la-calzada">La Calzada <div class="flechaplayas"></div> </a>
						<a href="playas/la-jara">La Jara <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>				
				<div id='1' class="pointmap"></div>
			</div>

			<div class="gm g2">
				<div id='g2' class="mapbox">					
					<div id='e2'  class="enlaces">
						<h1>CHIPIONA</h1>
						<a href="playas/cruz-del-mar">Cruz del Mar <div class="flechaplayas"></div> </a>
						<a href="playas/camaron">Camarón <div class="flechaplayas"></div> </a>
						<a href="playas/las-tres-piedras">Las Tres Piedras <div class="flechaplayas"></div> </a>
						<a href="playas/montijo">Montijo <div class="flechaplayas"></div> </a>
						<a href="playas/regla">Regla <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='2' class="pointmap"></div>
			</div>

			<div class="gm g3">
				<div id='g3' class="mapbox">
					<div id='e3'  class="enlaces">
						<h1>ROTA</h1>					
						<a href="playas/el-rompidillo">El Rompidillo<div class="flechaplayas"></div> </a>
						<a href="playas/galeones">Galeones <div class="flechaplayas"></div> </a>
						<a href="playas/la-ballena">La Ballena <div class="flechaplayas"></div> </a>
						<a href="playas/la-costilla">La Costilla <div class="flechaplayas"></div> </a>
						<a href="playas/los-corales">Los Corales <div class="flechaplayas"></div> </a>
						<a href="playas/peginas">Peginas <div class="flechaplayas"></div> </a>
						<a href="playas/piedras-gordas">Piedras Gordas <div class="flechaplayas"></div> </a>
						<a href="playas/punta-candor">Punta Candor <div class="flechaplayas"></div> </a>
						<a href="playas/puntalillo">Puntalillo <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='3' class="pointmap"></div>
			</div>

			<div class="gm g4">
				<div id='g4' class="mapbox">					
					<div id='e4'  class="enlaces">
						<h1>EL PUERTO DE <span>SANTA MARÍA</span></h1>
						<a href="playas/fuentebravia">Fuentebravía <div class="flechaplayas"></div> </a>
						<a href="playas/la-calita">La Calita <div class="flechaplayas"></div> </a>
						<a href="playas/la-puntilla">La Puntilla <div class="flechaplayas"></div> </a>
						<a href="playas/la-muralla">La Muralla <div class="flechaplayas"></div> </a>
						<a href="playas/levante">Levante <div class="flechaplayas"></div> </a>
						<a href="playas/santa-catalina">Santa Catalina <div class="flechaplayas"></div> </a>
						<a href="playas/valdelagrana">Valdelagrana <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='4' class="pointmap"></div>
			</div>

			<div class="gm g5">
				<div id='g5' class="mapbox">					
					<div id='e5'  class="enlaces">
						<h1>PUERTO REAL</h1>
						<a href="playas/la-cachucha">La Cachucha <div class="flechaplayas"></div> </a>
						<a href="playas/rio-san-pedro">Río San Pedro <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='5' class="pointmap"></div>
			</div>

			<div class="gm g6">
				<div id='g6' class="mapbox">					
					<div id='e6'  class="enlaces">
						<h1>CÁDIZ</h1>
						<a href="playas/cortadura">Cortadura <div class="flechaplayas"></div> </a>
						<a href="playas/el-chato">El Chato <div class="flechaplayas"></div> </a>
						<a href="playas/la-caleta">La Caleta <div class="flechaplayas"></div> </a>
						<a href="playas/la-victoria">La Victoria <div class="flechaplayas"></div> </a>
						<a href="playas/santa-maria-del-mar">Santa María del Mar<div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='6' class="pointmap"></div>
			</div>

			<div class="gm g7">
				<div id='g7' class="mapbox">					
					<div id='e7'  class="enlaces">
						<h1>SAN FERNANDO</h1>
						<a href="playas/camposoto">Camposoto <div class="flechaplayas"></div> </a>
						<a href="playas/la-caseria">La Casería <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='7' class="pointmap"></div>
			</div>

			<div class="gm g8">
				<div id='g8' class="mapbox">					
					<div id='e8'  class="enlaces">
						<h1>CHICLANA DE LA <span>FRONTERA</span></h1>
						<a href="playas/la-barrosa">La Barrosa <div class="flechaplayas"></div> </a>
						<a href="playas/sancti-petri">Sancti-Petri <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='8' class="pointmap"></div>
			</div>

			<div class="gm g9">
				<div id='g9' class="mapbox">					
					<div id='e9'  class="enlaces">
						<h1>CONIL DE LA <span>FRONTERA</span></h1>
						<a href="playas/cala-del-aceite">Cala del Aceite <div class="flechaplayas"></div> </a>
						<a href="playas/calas-del-quinto">Calas del Quinto <div class="flechaplayas"></div> </a>
						<a href="playas/calas-de-poniente">Calas de Poniente <div class="flechaplayas"></div> </a>
						<a href="playas/castilnovo">Castilnovo <div class="flechaplayas"></div> </a>
						<a href="playas/el-puerco">El Puerco <div class="flechaplayas"></div> </a>
						<a href="playas/el-roqueo">El Roqueo <div class="flechaplayas"></div> </a>
						<a href="playas/fuente-del-gallo">Fuente del Gallo <div class="flechaplayas"></div> </a>
						<a href="playas/la-fontanilla">La Fontanilla <div class="flechaplayas"></div> </a>
						<a href="playas/los-bateles">Los Bateles <div class="flechaplayas"></div> </a>
						<a href="playas/roche">Roche <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='9' class="pointmap"></div>
			</div>

			<div class="gm g10">
				<div id='g10' class="mapbox">					
					<div id='e10' class="enlaces">
						<h1>VEJER DE LA <span>FRONTERA</span></h1>
						<a href="playas/el-palmar">El Palmar <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='10' class="pointmap"></div>
			</div>

			<div class="gm g11">
				<div id='g11' class="mapbox">					
					<div id='e11' class="enlaces">
						<h1>BARBATE</h1>
						<a href="playas/canillos">Cañillos <div class="flechaplayas"></div> </a>
						<a href="playas/canos-de-meca">Caños de Meca <div class="flechaplayas"></div> </a>
						<a href="playas/hierbabuena">Hierbabuena <div class="flechaplayas"></div> </a>
						<a href="playas/nuestra-senora-del-carmen">Nuestra Señora del Carmen <div class="flechaplayas"></div> </a>
						<a href="playas/zahara-de-los-atunes">Zahara de los Atunes <div class="flechaplayas"></div> </a>
						<a href="playas/zahora">Zahora <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='11' class="pointmap"></div>
			</div>

			<div class="gm g12">
				<div id='g12' class="mapbox">					
					<div id='e12' class="enlaces">
						<h1>TARIFA</h1>
						<a href="playas/atlanterra">Atlanterra <div class="flechaplayas"></div> </a>
						<a href="playas/bolonia">Bolonia <div class="flechaplayas"></div> </a>
						<a href="playas/el-canuelo">El Cañuelo <div class="flechaplayas"></div> </a>
						<a href="playas/los-alemanes">Los Alemanes <div class="flechaplayas"></div> </a>
						<a href="playas/los-lances">Los Lances <div class="flechaplayas"></div> </a>
						<a href="playas/playa-chica">Playa Chica <div class="flechaplayas"></div> </a>
						<a href="playas/valdevaquer">Valdevaqueros <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='12' class="pointmap"></div>
			</div>

			<div class="gm g13">
				<div id='g13' class="mapbox">					
					<div id='e13' class="enlaces">
						<h1>LOS BARRIOS</h1>
						<a href="playas/palmones">Palmones <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='13' class="pointmap"></div>
			</div>

			<div class="gm g14">
				<div id='g14' class="mapbox">					
					<div id='e14' class="enlaces">
						<h1>ALGECIRAS</h1>
						<a href="playas/cala-arenas">Cala Arenas <div class="flechaplayas"></div> </a>
						<a href="playas/el-chinarral">El Chinarral <div class="flechaplayas"></div> </a>
						<a href="playas/el-rinconcillo">El Rinconcillo <div class="flechaplayas"></div> </a>
						<a href="playas/getares">Getares <div class="flechaplayas"></div> </a>
						<a href="playas/la-concha">La Concha <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='14' class="pointmap"></div>
			</div>

			<div class="gm g15">
				<div id='g15' class="mapbox">					
					<div id='e15' class="enlaces">
						<h1>SAN ROQUE</h1>
						<a href="playas/cala-milla-de-plata">Cala Milla de Plata <div class="flechaplayas"></div> </a>
						<a href="playas/campamento">Campamento <div class="flechaplayas"></div> </a>
						<a href="playas/el-cabrero">El Cabrero <div class="flechaplayas"></div> </a>
						<a href="playas/guadalquiton">Guadalquitón <div class="flechaplayas"></div> </a>
						<a href="playas/guadarranque">Guadarranque <div class="flechaplayas"></div> </a>
						<a href="playas/sotogrande">Sotogrande <div class="flechaplayas"></div> </a>
						<a href="playas/torrecarbonera">Torrecarbonera <div class="flechaplayas"></div> </a>
						<a href="playas/torreguadiaro">Torreguadiaro<div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='15' class="pointmap"></div>
			</div>

			<div class="gm g16">
				<div id='g16' class="mapbox">					
					<div id='e16' class="enlaces">
						<h1>LA LINEA DE LA<span>CONCEPCIÓN</span></h1>
						<a href="playas/el-burgo">El Burgo <div class="flechaplayas"></div> </a>
						<a href="playas/la-alcaidesa">La Alcaidesa <div class="flechaplayas"></div> </a>
						<a href="playas/la-hacienda">La Hacienda <div class="flechaplayas"></div> </a>
						<a href="playas/levante">Levante <div class="flechaplayas"></div> </a>
						<a href="playas/poniente">Poniente <div class="flechaplayas"></div> </a>
						<a href="playas/santa-barbara">Santa Bárbara <div class="flechaplayas"></div> </a>
						<a href="playas/sobrevela">Sobrevela <div class="flechaplayas"></div> </a>
					</div>
					<img src="/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
				</div>
				<div id='16' class="pointmap"></div>
			</div>

		</div>
		<div class="txt-container">
			<p class="title">ENCUENTRA
			<br style="display: none;">TU PLAYA
			<br style="display: none;">EN CÁDIZ</p><img class="separator fr-fic fr-dii" src="/storage/app/media/uploaded-files/templates/separador.svg">
			<p class="stitle">Selecciona un municipio y descubre <span class="bdline">muchas playas diferentes</span></p>
		</div>
	</div>
</div>

<div class="section-txt section-info more-info-beach">
	<div class="more-info">
		<div class="txt-container">
			<h3>¿más info?</h3>
			<img src="/storage/app/media/uploaded-files/templates/big-yellow-separator.svg" class="fr-fic fr-dii">
		</div>

		<div class="txt-container mimgt">
			<p><a href="#" rel="noopener noreferrer" target="_blank">Web calidad y temperatura de las aguas</a></p>
			<p><a href="#" rel="noopener noreferrer" target="_blank">Web visor de playas</a></p>
		</div>

		<div class="txt-container mimgb">
		</div>
	</div>
</div>