==
<?php 

	function onStart()
	{
	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>	

==

{% for new in news %}
	
	<div class="event">
		
		<div class="txt-container">

			<p class="name">{{new.viewBag.title}}</p><img class="separator fr-fic fr-dii" src="{{preurl}}/storage/app/media/uploaded-files/templates/small-yellow-separator.svg">
			
			<div class="icons">
				<div class="icon-pair">
					<img src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(beach.new.type)}}.svg" class="fr-fil fr-dib">

					<p class="icon-txt">
              			{{beach.new.type|_}}
					</p>
				</div>
			</div>
			
			{{new.viewBag.title}}
			
			{{new.viewBag.type|_}}

			{{new.viewBag.descrptn}}

			{{new.viewBag.urlExternaVideo}}

			{{new.viewBag.urlExternaZip}}

			
		</div>
	</div>
	
{% endfor %}
