==
<?php

	function onStart()
	{
	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>

==

{% if news|length > 0 %}
  
<div class="publis">
{% for new in news %}
	{% set dated = new.viewBag.date|split(' ')[0] %}
	{% set datef = dated|split('-') %}
    <div class='contpbl'>
      <div class="bimage" style="background-image:url({{new.viewBag.urlImage}}); background-repeat: no-repeat; background-size: cover;">
        <span class='newDate reportDatemrm'>{{new.viewBag.diario}} | {{datef[2]}}.{{datef[1]}}.{{datef[0]|slice(2,2)}}</span>
        <h6 class="publi-title h6mrm">{{new.viewBag.title}}</h6>
        <div class="links-container">                  
          {% if new.viewBag.urlExternaZip !='' %}
            <a class="download-link" target="_blank" href='{{new.viewBag.urlExternaZip}}''>{{'Descargar pdf'|_}}</a>
          {% endif %}
          {% if new.viewBag.urlExterna !='' %}
            <a class="download-link" target="_blank" href='{{new.viewBag.urlExterna }}''>{{'Ver noticia'|_}}</a>
          {% endif %}
      	</div>
      </div>
      <div class="shr">
      	<img src="{{preurl}}/storage/app/media/uploaded-files/templates/shr.svg" alt=""> 
      </div>	     
      <div class="publicacion">      		
			<span class='newDate reportDatem'>{{new.viewBag.diario}} | {{datef[2]}}.{{datef[1]}}.{{datef[0]|slice(2,2)}}</span>
          <h6 class="publi-title h6m">{{new.viewBag.title}}</h6>
          <div>      
        	<p class="publi-desc">{{new.viewBag.descrptn}}</p>
        	<p class="publi-descm">{{new.viewBag.descrptn|length > 100 ? new.viewBag.descrptn|slice(0, 101) ~ '...' : new.viewBag.descrptn}}</p>
      	  </div>
      	   <div class="links-containerm">  
	          {% if new.viewBag.urlExternaZip !='' %}
	            <a class="download-link" target="_blank" href='{{new.viewBag.urlExternaZip}}''>{{'Descargar pdf'|_}}</a>
	          {% endif %}
	          {% if new.viewBag.urlExterna !='' %}
	            <a class="download-link" target="_blank" href='{{new.viewBag.urlExterna }}''>{{'Ver noticia'|_}}</a>
	          {% endif %}
          </div>
      </div>
    </div>
{% endfor %}
</div>

{% else %}

<div class="mock-space-prensa">
	<p>{{'Vuelve más tarde, tendremos un montón de noticias para ti.' |_}}</p>
</div>


{% endif %}

<!--
{% if news|length > 0 %}
<div id="container-sala-prensa" class="publis">
	{% for new in news %}
		<div class="prensa">

			<h6 class="publi-title">{{new.viewBag.title}}</h6>

			{%set date = new.viewBag.date|split(' ') %}
			{%set ddate = date[0]|split('-') %}
			<p class="publi-source">{{new.viewBag.media}} | {{ddate[2]}}.{{ddate[1]}}.{{ddate[0]|slice(2, 2)}}</p>
			<div class="links-container">
				<a class="download-link" href="{{new.viewBag.urlExternaZip}}">{{'Descargar pdf'|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/yellow-arrow2.svg" alt="" class="fr-fic fr-dii">&nbsp;</a>
			</div>
		</div>
	{% endfor %}
</div>
{% else %}

<div class="mock-space-prensa">
	<p>{{'Vuelve más tarde, tendremos un montón de noticias para ti.'|_}}</p>
</div>


{% endif %} -->
