==
<?php 

	function onStart()
	{
	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>	

==

<div class="publis">
{% for publication in publications %}

    <div class="publicacion">
      <img class="publi-icon" src="{{preurl}}/storage/app/media/uploaded-files/templates/{{publication.viewBag.type}}-icon.svg" alt="">
      <h6 class="publi-title">{{publication.viewBag.title}}</h6>
      <p class="publi-desc">{{publication.viewBag.descrptn}}</p>
      <p class="languages-publi"><span id="languages-title">{{'IDIOMAS DISPONIBLES:'|_ }}</span> {{publication.viewBag.idiomas}}</p>
      <div class="links-container">
        <a class="see-link" href="{{publication.viewBag.descrptn}}">{{'Ver'|_}} {{publication.viewBag.type|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/yellow-arrow2.svg" alt=""> </a>
        <a class="download-link" href="#">{{'Descargar'|_}} {{publication.viewBag.type|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/yellow-arrow2.svg" alt=""> </a>
      </div>
    </div>

{% endfor %}
</div>