==
<?php

	function onStart()
	{
	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>

==
{% if publications|length > 0 %}
<div class="publis">
{% for publication in publications %}

    <div class="publicacion">
      <img class="publi-icon" src="{{preurl}}/storage/app/media/uploaded-files/templates/{{str_slug(publication.viewBag.type)}}-icon.svg" alt="">
      <h6 class="publi-title">{{publication.viewBag.title}}</h6>
      <p class="publi-desc">{{publication.viewBag.descrptn}}</p>
      <p class="languages-publi"><span id="languages-title">{{'IDIOMAS DISPONIBLES:'|_ }}</span> {{publication.viewBag.idiomas}}</p>
      <div class="links-container">
        
        {% if publication.viewBag.urlExternaVideo !='' %}
          <a class="see-link" target="_blank" href="{{publication.viewBag.urlExternaVideo}}">{{'Ver'|_}} {{publication.viewBag.type|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/yellow-arrow2.svg" alt=""> </a>
        {% endif %}
        
        {% if publication.viewBag.urlExternaZip !='' %}
          <a class="download-link" href="{{publication.viewBag.urlExternaZip}}">{{'Descargar'|_}} {{publication.viewBag.type|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/yellow-arrow2.svg" alt=""> </a>
        {% endif %}

      </div>
    </div>

{% endfor %}

</div>

{% else %}

<div class="mock-space-prensa">
	<p>Vuelve más tarde, tendremos un montón de publicaciones para ti.</p>
</div>


{% endif %}
