==
<?php

	function onStart()
	{

	 	if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
	      	$this['preurl'] = '/cadizturismo';
	    } else {
	     	$this['preurl'] = '';
	    }
	}

?>

==
{% if reports|length > 0 %}
<div class="publis">
	{% for report in reports %}
		<div class="reportaje">

			<h6 class="publi-title">{{report.viewBag.title}}</h6>

			<p class="publi-desc">{{report.viewBag.descrptn}}</p>

			<div class="links-container">
				<a class="download-link" href="{{report.viewBag.urlExternaZip}}">{{'Descargar pdf'|_}} <img src="{{preurl}}/storage/app/media/uploaded-files/templates/yellow-arrow2.svg" alt="" class="fr-fic fr-dii">&nbsp;</a>
			</div>
		</div>
	{% endfor %}
</div>

{% else %}

<div class="mock-space-prensa">
	<p>Vuelve más tarde, tendremos un montón de reportajes para ti.</p>
</div>


{% endif %}
