title = "empresas"
url = "/empresas"
layout = "dinamic"
is_hidden = 0

[staticApp]

==
<?php

	function onStart()
	{

        if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
              $this['preurl'] = '/cadizturismo';
        } else {
            $this['preurl'] = '';
        }

        $this['lang']=\App::getLocale();
    		if($this['lang']==''){
    			$this['lang']='es';
    		}

        $this['typeIndex'] = $this->staticApp->empresasListTypesHomeIndex();

        $this['ptitle'] = 'Cádiz | Empresas';
        $this['metaTitle'] = 'Cádiz | Empresas';

	}


	function onFindEmpresa(){
        
        use Illuminate\Support\Facades\Request;

        $aLang = App::getLocale();

    	$type = $_POST['type'];
        $ubicacion = $_POST['location'];
        $psearch = $_POST['search'];

        echo json_encode(Request::all());

        dd(1);


        if($psearch == ''){
            $search = 'todas-las-empresas';
        } else {
            $search = str_replace(' ','_',$psearch);
        }

      	$empresas = $this->staticApp->empresasFindPag($type,$ubicacion,$search,1,9);
       	Session::put('data',json_encode($empresas));

      	return Redirect::to($aLang.'/listado-de-empresas/'.$type.'/'.$ubicacion.'/'.$search)->with( ['data' => json_encode($empresas)] );

    }

?>
==

<!-- HEADER -->
<div id="search-empresas" class="header-general search-empresas bussinesPage">

    <div class="header-container big-div">
        <div id="exp-header" class="header-txt">
            <p class="txt"><span id="exp" class="first-word">{{'Directorio de empresas'|_}}</span></p>
            <img class="brush" src="{{preurl}}/storage/app/media/uploaded-files/templates/brush-header.svg" alt="">
        </div>

        <p class="text-center whatDoYouNeedCadiz"><span>{{'¿Qué necesitas de Cádiz?'|_}}</span></p>

        <!-- SEARCH -->
        <div id='prtlSearch'>
            {% partial "site/searchempresa" %}

        </div>
    </div>
</div>

<div class="emp content bussinesPage">

            <div class="empresas-container empresas1">
                <img class="main-emp" src="{{'assets/img/travel.svg'|theme}}" alt="">
                <ul>
                    <p>PLANIFICAR MI VIAJE</p>
                    {% for type in typeIndex['cat1']%}

                    <li>

                        <a href="{{url('/')}}/{{lang}}/empresas-por-sector/{{type.slug}}">{{type.name}}</a>

                    </li>

                    {% endfor %}
                </ul>
            </div>
            <div class="empresas-container empresas2">
                <img class="main-emp" src="{{'assets/img/direcction.svg'|theme}}" alt="">
                <ul>
                    <p>PLANES DE OCIO</p>
                    {% for type in typeIndex['cat2']%}

                    <li>

                        <a href="{{url('/')}}/{{lang}}/empresas-por-sector/{{type.slug}}">{{type.name}}</a>

                    </li>

                    {% endfor %}
                </ul>
            </div>

            <div class="empresas-container empresas3">
                <img class="main-emp" src="{{'assets/img/search.svg'|theme}}" alt="" style="left: -22px;">
                <ul>
                    <p>OTROS INTERESES</p>
                    {% for type in typeIndex['cat3']%}

                    <li>

                        <a href="{{url('/')}}/{{lang}}/empresas-por-sector/{{type.slug}}">{{type.name}}</a>

                    </li>

                    {% endfor %}
                </ul>
            </div>

        </div>
