title = "empresas"
url = "/empresas"
layout = "dinamic"
is_hidden = 0

[staticApp]

==
<?php  
	
	function onStart()
	{	    
    
    if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
          $this['preurl'] = '/cadizturismo';
    } else {
        $this['preurl'] = '';
    }

    $this['lang']=\App::getLocale();
		if($this['lang']==''){
			$this['lang']='es';
		}

    $this['typeIndex'] = $this->staticApp->empresasListTypesHomeIndex();
    
	}


	function onFindEmpresa(){
		
    $aLang = App::getLocale();

		$type = $_POST['type'];
    $ubicacion = $_POST['location'];
    	
  	$empresas = $this->staticApp->empresasFindPag($type,$ubicacion,1,1);
   	Session::put('data',json_encode($empresas));
 
  	return Redirect::to($aLang.'/listado-de-empresas/'.$type.'/'.$ubicacion)->with( ['data' => json_encode($empresas)] );
 
  }

?>
==

<!-- HEADER -->
<div class="header-search search-exp">
  
  <div class="header-container big-div">
    <div id="exp-header" class="header-txt">
      <p class="txt"><span id="exp" class="first-word">{{'Empresas del sector'|_}}</span></p>
        <img class="brush" src="{{preurl}}/storage/app/media/uploaded-files/templates/brush-header.svg" alt="">
    </div>
    
    <p class="txt text-center"><span>{{'¿Qué necesitas de cadiz?'|_}}</span></p>
    
    <!-- SEARCH -->
    <div id='prtlSearch'>
      {% partial "site/searchempresa" %}

    </div>
    
    <div style="margin-top: 350px; margin-bottom: 200px;"">
   
    <ul style="float: left; margin-right: 300px;">
       <p>PANIFICAR MI VIAJE</p>
    {% for type in typeIndex['cat1']%}
  
      <li>
                 
         <a href="{{url('/')}}/{{lang}}/empresas-por-sector/{{type.slug}}">{{type.name}}</a>

      </li> 
    
    {% endfor %}
    </ul>
    
    <ul  style="float: left; margin-right: 300px;">   
     <p>PLANES DE OCIO</p> 
    {% for type in typeIndex['cat2']%}
  
      <li>
                 
        <a href="{{url('/')}}/{{lang}}/empresas-por-sector/{{type.slug}}">{{type.name}}</a>

      </li> 
    
    {% endfor %}
    </ul>

     <ul> 
      <p>OTROS INTERESES</p>   
    {% for type in typeIndex['cat3']%}
  
      <li>
                 
         <a href="{{url('/')}}/{{lang}}/empresas-por-sector/{{type.slug}}">{{type.name}}</a>

      </li> 
    
    {% endfor %}
    </ul>

    </div>

  </div>
</div>