title = "empresas"
url = "/empresa/:slug"
layout = "dinamic"
is_hidden = 0

[staticApp]

==
<?php

	function onStart()
	{
        $this['urlPage'] = $this->page->url;

        $slug = $this->param('slug');
        $this['slugg'] = $slug;
        if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
        $this['preurl'] = '/cadizturismo';
        } else {
        $this['preurl'] = '';
        }

        $this['lang']=\App::getLocale();
        if($this['lang']==''){
        $this['lang']='es';
        }

        $this['empresa'] =  $this->staticApp->empresasFindBySlug($slug);

        if($this['empresa']){
            $this['metaTitle'] = 'Cádiz | '.$this['empresa']->name;
            $this['ptitle'] = 'Cádiz | '.$this['empresa']->name;
            $this['metaDescription'] = (strlen($this['empresa']->description) > 250) ? substr($this['empresa']->description,0,250).'...' : $this['empresa']->description;
            $this['metaImg'] = $this['empresa']->image;
        }

}



?>
==
<!-- HEADER -->
<div class="header-empresa bussinesPage sxxx" style="background-image: url({{empresa.image}})">

    <div class="header-container">
        <div id="exp-header" class="header-txt">
            <p class="txt"><span id="exp" class="first-word">{{empresa.name}}</span></p>
            <img class="brush" src="{{preurl}}/storage/app/media/uploaded-files/templates/brush-header.svg" alt="">
        </div>
    </div>
		<div class="event-features">
				<div class="feature-exp">

						<img src="{{'assets/img/mobile.svg'|theme}}">
						<p class="feature-txt">{{empresa.tlf}}</p>

				</div>
				<div class="feature-exp">

						<img src="{{'assets/img/email.svg'|theme}}">
						<p class="feature-txt">{{empresa.email}}</p>

				</div>
				<div class="feature-exp">
						<a class="link-exp" href="{{empresa.site}}">
								<img src="{{'assets/img/web.svg'|theme}}">
								<p class="feature-txt">{{empresa.site | replace({'http://': '', 'https://': ''})}}</p>
						</a>

				</div>
				<div class="feature-exp">

						<img src="{{'assets/img/site2.svg'|theme}}">
						<p class="feature-txt">{{empresa.municipality | capitalize}}</p>
						<a class="feature-txt-empresa" href="{{empresa.url_map}}" target="_blank">Ver mapa</a>
				</div>

                
		</div>
</div>
<div class="bussinesPage llls">
    <!-- <div id="out-features" class="event-features">
        <div class="feature-exp">

            <img src="{{'assets/img/mobile.svg'|theme}}">
            <p class="feature-txt">{{empresa.tlf}}</p>

        </div>
        <div class="feature-exp">

            <img src="{{'assets/img/email.svg'|theme}}">
            <p class="feature-txt">{{empresa.email}}</p>

        </div>
        <div class="feature-exp">
            <a href="{{empresa.site}}">
                <img src="{{'assets/img/web.svg'|theme}}">
                <p class="feature-txt">{{empresa.site | replace({'http://': '', 'https://': ''})}}</p>
            </a>

        </div>
        <div class="feature-exp">

            <img src="{{'assets/img/site2.svg'|theme}}">
            <p class="feature-txt">{{empresa.municipality | capitalize}}</p>
            <a class="linkMapss" href="{{empresa.url_map}}" target="_blank">Ver mapa</a>
        </div>
    </div> -->
    <section class="desc">
        <h3>
            {{empresa.title}}
        </h3>
        <img class="separator fr-fic fr-dii" src="{{'assets/img/big-yellow-separator.svg'|theme}}">
        <p>
            {{empresa.description}}
        </p>
    </section>

		{% for image in empresa.images %}
			<div class="section-img">
				<p>{{image}}</p>
			</div>
		{% endfor %}

    {% if empresa.info %}
        <section class="info">
            <h3>
                ¿MÁS INFO?
            </h3>
            <img class="separator fr-fic fr-dii" src="{{'assets/img/big-yellow-separator.svg'|theme}}">
            <p>
                {{empresa.info}}
            </p>
        </section>
    {% endif %}
    <div class="vertical-share">
        <p class="also-title">{{'COMPARTIR'|_}}</p><img src="{{url('/')}}/plugins/rainlab/pages/assets/svg/tiny-sep.svg" class="fr-fil fr-dib">
        <div class="links-container"><a href="https://www.facebook.com/sharer/sharer.php?u={{url('/')}}/{{lang}}{{urlPage|replace({':slug': slugg})}}" target="_blank">Facebook&nbsp;</a>
            <span>·</span>
            <a data-action="share/whatsapp/share" href="whatsapp://send?text={{url('/')}}/{{lang}}{{urlPage|replace({':slug': slugg})}}">Whatsapp&nbsp;</a>
            <span>·</span>
            <a href="https://twitter.com/home?status={{url('/')}}/{{lang}}{{urlPage|replace({':slug': slugg})}}" target="_blank" >Twitter&nbsp;</a>
        </div>
    </div>
</div>
