description = "Dinamic Layout"
layout = 'dinamic'
[staticMenu]
code = "donde-ir"

[staticMenu staticMenu2]
code = "que-vivir"

[staticMenu staticMenu3]
code = "mi-estancia"

[staticMenu staticMenu4]
code = "que-hacer"

[staticMenu staticMenu5]
code = "footer"

[staticMenu staticMenu6]
code = "redes-sociales"

==

<?php

    function onStart()
    {
        $this['urlApp'] = config('app.urlApp');

        $this['lang']=\App::getLocale();
        if($this['lang']==''){
            $this['lang']='es';
        }

        if($this->page->apiBag){
            
            if(isset($this->page->apiBag["staticPage"]->attributes["viewBag"]["cover"])){
                $this['metaImg'] = $this->page->apiBag["staticPage"]->attributes["viewBag"]["cover"];
            }
            
            if($this->page->settings["meta_title"]==null)
            $this['metaTitle'] = $this->page->apiBag["staticPage"]->attributes["viewBag"]["title"];
            else
            $this['metaTitle'] = $this->page->settings["meta_title"];

            if($this->page->settings["meta_description"]==null){
            $this['metaDescription'] = $this->page->apiBag["staticPage"]->attributes["content"];
            
            if(isset(explode('<p class="desc">',$this['metaDescription'])[1])){
                
                $this['metaDescription'] = explode('</p>',explode('<p class="desc">',$this['metaDescription'])[1])[0];

                if(strlen($this['metaDescription'])>225)
                    $this['metaDescription'] = substr($this['metaDescription'], 0, 225).'...';
                }else
                    $this['metaDescription'] = $this->page->settings["meta_description"];
            
            }
        }

    }   

?>

==

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="google-site-verification" content="KZtyPnD_0KXDnRTpmvwxNoBcvj3Osx_VKrXoJaucHrE" />
    <meta property="og:image" content="{{ metaImg }}">
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:description" content="{{ metaDescription }}">
    <title>Cádiz te hace libre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-comarcas.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-village.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-event.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-totalEvents.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-home.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-search.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/safari-pinned-tab.svg" color="#175DA3">
    <meta name="theme-color" content="#175DA3">

    <style>
      .calendar.right {
        display: none !important;
      }
      .daterangepicker_input{
        display: none;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#f6f6f6",
          "text": "#818181"
        },
        "button": {
          "background": "#f5a623",
          "text": "#ffffff"
        }
      },
      "content": {
        "message": "Este sitio web utiliza cookies, tanto propias como de terceros, para recopilar información estadística sobre su navegación. Si continúa navegando, consideramos que acepta nuestra",
        "dismiss": "Entendido",
        "link": "política de cookies.",
        "href": "{{urlApp}}politica-de-cookies"
      }
    })});
    </script>

</head>

    {% partial 'site/header' %}

    <!-- Content -->
    <section id="layout-content">
        {% page %}
    </section>

      {% partial 'site/footer' %}

    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/iziModal/js/iziModal.js"></script>

    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/style.js"></script>

    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/script-select2.js"></script>

    <script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/range-datapicker.js"></script>



    {% framework %}

  </body>
</html>
