description = "Publicacion Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "donde-ir"

[staticMenu staticMenu2]
code = "que-vivir"

[staticMenu staticMenu3]
code = "mi-estancia"

[staticMenu staticMenu4]
code = "que-hacer"

[staticMenu staticMenu5]
code = "footer"

[staticMenu staticMenu6]
code = "redes-sociales"

[staticApp]

==

<?php

    function onStart()
    {
        $this['lang']=\App::getLocale();
        if($this['lang']==''){
            $this['lang']='es';
        }
        if (strpos($_SERVER['HTTP_HOST'], 'localhost') !== false) {
            $this['preurl'] = '/cadizturismo';
        } else {
            $this['preurl'] = '';
        }
        $this['startPag'] = 1;
        $this['numberReg'] = 5;

        $this['numPag'] = ceil($this->staticApp->reportListCount()/$this['numberReg']);
        $this['reports'] = $this->staticApp->reportListPag(1,$this['numberReg'],$this['lang']);

        $this['urlPage'] = $this->page->url;

        if($this->page->apiBag){

            if(isset($this->page->apiBag["staticPage"]->attributes["viewBag"]["cover"])){
                $this['metaImg'] = $this->page->apiBag["staticPage"]->attributes["viewBag"]["cover"];
            }

            if($this->page->settings["meta_title"]==null){

                $this['metaTitle'] = 'Cádiz | '.$this->page->apiBag["staticPage"]->attributes["viewBag"]["title"];
                $this['ptitle'] = 'Cádiz | '.$this->page->apiBag["staticPage"]->attributes["viewBag"]["title"];

            } else {

                $this['metaTitle'] = 'Cádiz | '.$this->page->settings["meta_title"];
                $this['ptitle'] = 'Cádiz | '.$this->page->settings["meta_title"];
            }

            if($this->page->settings["meta_description"]==null){

                $this['metaDescription'] = $this->page->apiBag["staticPage"]->attributes["content"];

                if(isset(explode('<p class="desc">',$this['metaDescription'])[1])){

                    $this['metaDescription'] = explode('</p>',explode('<p class="desc">',$this['metaDescription'])[1])[0];

                    if(strlen($this['metaDescription'])>225){
                        $this['metaDescription'] = substr($this['metaDescription'], 0, 225).'...';
                    }

                } else {

                     $this['metaDescription'] = '';
                }

            } else {
               $this['metaDescription'] = $this->page->settings["meta_description"];
            }
        }

    }
?>

==
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="google-site-verification" content="KZtyPnD_0KXDnRTpmvwxNoBcvj3Osx_VKrXoJaucHrE" />
    <meta property="og:image" content="{{ metaImg }}">
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:description" content="{{ metaDescription }}">
    <title>{{ptitle}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-comarcas.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-village.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style-event.css"/>
    <link rel="stylesheet" href="{{url('/')}}/plugins/rainlab/pages/assets/css/style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{url('/')}}/plugins/rainlab/pages/assets/img/favicons/safari-pinned-tab.svg" color="#175DA3">
    <meta name="theme-color" content="#175DA3">
</head>
    {% partial 'device-rotate' %}
    {% partial 'site/header' %}

    <!-- HEADER -->
    <div class="header-general header-salaprensa">
        <div class="header-container">
            <div class="header-txt">
                <h1 class="txt-rutas"><span class="first-word-rutas">{{ "Sala Prensa"|_ }}</span><span class="con-encanto" style="display: block;"> &nbsp</span></h1>
                <img class="brush brushTop" src="{{preurl}}/storage/app/media/uploaded-files/templates/brush-header.svg" alt="">
            </div>
        </div>
    </div>
    </div>
 
     <div id='prtlSalaprensa' class="all-events">
        <div class="all-events-container">
        {% partial "reports" %}
        </div>
    </div>
    
    <div class="gdossier">
    <div class="cntdossier">
        <div class="mapdossier">
            <div class='mpds mapcd'>
                <div class="gm g1">
                    <div id='g1' class="mapboxd">
                        <div id='e1'  class="enlaces">
                            <a href="">Canadá<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='1' class="pointmap"></div>
                </div>
                <div class="gm g2">
                    <div id='g2' class="mapboxd">
                        <div id='e2'  class="enlaces">
                            <a href="">Estados Unidos<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='2' class="pointmap"></div>
                </div>
                <div class="gm g3">
                    <div id='g3' class="mapboxd">
                        <div id='e3'  class="enlaces">
                            <a href="">Costa Rica<div class="flechapais"></div></a>
                            <a href="">México<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='3' class="pointmap"></div>
                </div>
                <div class="gm g4">
                    <div id='g4' class="mapboxd">
                        <div id='e4'  class="enlaces">
                            <a href="">Argentina<div class="flechapais"></div></a>
                            <a href="">Brasil<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='4' class="pointmap"></div>
                </div>
                <div class="gm g5">
                    <div id='g5' class="mapboxd">
                        <div id='e5'  class="enlaces">
                            <a href="">Dinamarca<div class="flechapais"></div></a>
                            <a href="">Estonia<div class="flechapais"></div></a>
                            <a href="">Finlandia<div class="flechapais"></div></a>
                            <a href="">Noruega<div class="flechapais"></div></a>
                            <a href="">Suecia<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='5' class="pointmap"></div>
                </div>
                <div class="gm g6">
                    <div id='g6' class="mapboxd">
                        <div id='e6'  class="enlaces">
                            <a href="{{preurl}}/sala-prensa/prensa/españa">España<div class="flechapais"></div></a>
                            <a href="">Francia<div class="flechapais"></div></a>
                            <a href="">Irlanda<div class="flechapais"></div></a>
                            <a href="">Portugal<div class="flechapais"></div></a>
                            <a href="">Reino Unido<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='6' class="pointmap"></div>
                </div>
                <div class="gm g7">
                    <div id='g7' class="mapboxd">
                        <div id='e7'  class="enlaces">
                            <a href="">Alemania<div class="flechapais"></div></a>
                            <a href="">Austria<div class="flechapais"></div></a>
                            <a href="">Bélgica<div class="flechapais"></div></a>
                            <a href="">Holanda<div class="flechapais"></div></a>
                            <a href="">Hungría<div class="flechapais"></div></a>
                            <a href="">Italia<div class="flechapais"></div></a>
                            <a href="">Polonia<div class="flechapais"></div></a>
                            <a href="">República Checa<div class="flechapais"></div></a>
                            <a href="">Suiza<div class="flechapais"></div></a>
                            <a href="">Ucrania<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='7' class="pointmap"></div>
                </div>
                <div class="gm g8">
                    <div id='g8' class="mapboxd">
                        <div id='e8'  class="enlaces">
                            <a href="">Israel<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='8' class="pointmap"></div>
                </div>
                <div class="gm g9">
                    <div id='g9' class="mapboxd">
                        <div id='e9'  class="enlaces">
                            <a href="">Rusia<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='9' class="pointmap"></div>
                </div>
                <div class="gm g10">
                    <div id='g10' class="mapboxd">
                        <div id='e10'  class="enlaces">
                            <a href="">China<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='10' class="pointmap"></div>
                </div>
                <div class="gm g11">
                    <div id='g11' class="mapboxd">
                        <div id='e11'  class="enlaces">
                            <a href="">Japón<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='11' class="pointmap"></div>
                </div>
                <div class="gm g12">
                    <div id='g12' class="mapboxd">
                        <div id='e12'  class="enlaces">
                            <a href="">Singapur<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='12' class="pointmap"></div>
                </div>
                <div class="gmv g13">
                    <div id='g13' class="mapboxd">
                        <div id='e13'  class="enlaces">
                            <a href="">Australia<div class="flechapais"></div></a>
                        </div>
                        <img src="{{preurl}}/storage/app/media/uploaded-files/templates/mapbox.svg" alt="">
                    </div>
                    <div id='13' class="pointmap"></div>
                </div>
            </div>
            <div></div>
            <div class ='qdn'>
                <span class="title">¿QUÉ SE DICE DE NOSOTROS?</span>
                <img class="mapsline" src="{{preurl}}/storage/app/media/uploaded-files/templates/mapsline.svg" alt="">
                <span class="stitle">Descubre qué se dice de Cádiz alrededor del mundo.</span>
            </div>
        </div>
    </div> 
    </div>
    {% component 'staticPage' %}
        
    {% partial 'site/footer' %}

    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/script-select2.js"></script>
    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/iziModal/js/iziModal.js"></script>

    <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/style.js"></script>

     <script type="text/javascript" src="{{url('/')}}/plugins/rainlab/pages/assets/js/mapcadiz.js"></script>
    
    {% framework %}

  </body>
</html>
